dist/*
node_modules/*
.env*
!.env.example
ngrok.yml
site/.next/cache/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
ngrok.exe
deploy/Dockerrun.aws.json
